<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Air Quality Dashboard</title>
    <link rel="stylesheet" href="/app/static/css/theme-switcher.css">
</head>
<body>
    <h1>Welcome to the Global Air Quality Dashboard</h1>
    <a href="/dash/">Go to Dashboard</a>

    <!-- Theme switcher button -->
    <button class="theme-switcher" onclick="toggleTheme()">Switch Theme</button>

</body>
</html>
